<div class="decoration">
    <img class="top-right" src="../../../assets/images/image-4.png"/>
    <img class="bottom-left" src="../../../assets/images/image-4.png"/>
    <img class="bottom-right" src="../../../assets/images/image-4.png"/>
    <img class="top-left" src="../../../assets/images/image-4.png"/>
</div>

<div class="button-container">
    <button *ngFor="let animalId of animalIds"
        class="animal-button"
        (click)="startVideo(animalId)">
        <img class="animal-button__img" src="assets/animals/{{imageUrl(animalId)}}" >
    </button>

    <button
        class="animal-button"
        (click)="test()">   
    </button>
   
</div>

