// @import '../../../scss/abstracts/_mixins.scss';
.animals-view {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.controls {
    display: flex;
    padding: 2vh 0;
    margin: auto;
    justify-content: space-between;
    gap: 3vw;

    &__button {
        width: 5vw;
        height: 5vw;
        border-radius: 100%;
        border: grey 2px solid;
        color: grey;
        font-size: 3rem;
        min-width: 6rem;
        min-height: 6rem;

        &:disabled {
            border: rgb(212, 212, 212) 2px solid;
            color: rgb(212, 212, 212);
        }
    }

}

.button-container {
    display: grid;
    width: fit-content;
    margin: auto;
    grid-template-columns: repeat(3, 24vw);
    grid-template-rows: repeat(4, 20vh);
    row-gap: 2vmin;
    column-gap: 1vmin;
    padding: 5vmin;

    @media (orientation:landscape) { 
        grid-template-columns: repeat(4, 21vw);
        grid-template-rows: repeat(3, 22vh);
        row-gap: 4vmin;
        column-gap: 1vmin;
    }
}

.animal-button {
    z-index: 500;
    width: fit-content;
    height: fit-content;
    padding: 2vmin;
    justify-self: center;
    align-self: end;
    background-color: transparent;
    border: none;
    height: 100%;

    @media (orientation:landscape) { 
        padding: 0;
    }
    
    &:hover {
        transition: transform 0.4s;
        transform: scale(1.1);
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;

        @media (orientation:landscape) { 
            height: 100%;
        }
        
    }
}

.decoration {
    z-index: 400;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    &> * {
        width: 15vw;
        position: absolute;
    }

    .top-right {
        top: 0;
        right: 0;
    }
    
    .bottom-left {
        transform: scaleX(-1) rotate(90deg);
        bottom: 0;
        left: 0;
    }

    .bottom-right {
        transform: rotate(90deg);
        bottom: 0;
        right: 0;
    }
    
    .top-left {
        transform: scaleX(-1);
        top: 0;
        left: 0;
    }
}