<div class="animals-view">
    <div class="button-container">
        <button *ngFor="let animalId of (displayList$ | async)"
            class="animal-button"
            (click)="startVideo(animalId)">
            <img class="animal-button__img"
                src="assets/animals/{{imageUrl(animalId)}}" >
        </button>
    </div>

    <div class="controls">
        <button class="controls__button prev"
            (click)="prevPage()"
            [disabled]="page <= 0">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="controls__button next"
            (click)="nextPage()"
            [disabled]="page >= totalPages - 1">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</div>