.button-container {
    display: grid;
    max-width: 700px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
}

.animal-button {
    // width: 128px;
    // height: 128px;
    background-color: transparent;
    border: none;

    &:hover {
        transition: transform 0.4s;
        transform: scale(1.1);
    }

}

.cow {
    background-image: '/src/assets/animals/cow.png';
}