@import '../../../scss/abstracts/_mixins.scss';

.button-container {
    display: grid;
    width: fit-content;
    margin: auto;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(8, 20vh);
    row-gap: 5vmin;
    padding: 5vmin;

    @include respond(tab-port) {
        row-gap: 2vmin;
        padding: 2vmin;
    }
    
    @media (orientation:landscape) { 
        // full grid 
        // grid-template-columns: repeat(10, 9.5vw);
        // grid-template-rows: repeat(5, 14vh);
        grid-template-columns: repeat(7, 13vw);
        grid-template-rows: repeat(4, 19vh);
    }
}

.animal-button {
    z-index: 500;
    width: fit-content;
    height: fit-content;
    padding: 2vmin;
    justify-self: center;
    align-self: end;
    background-color: transparent;
    border: none;
    height: 100%;

    @include respond(tab-port) {
        row-gap: 2vmin;
        padding: 2vmin;
    }

    @media (orientation:landscape) { 
        padding: 0;
    }
    
    &:hover {
        transition: transform 0.4s;
        transform: scale(1.1);
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
    }
}

.decoration {
    z-index: 400;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    &> * {
        width: 15vw;
        position: absolute;
    }

    .top-right {
        top: 0;
        right: 0;
    }
    
    .bottom-left {
        transform: scaleX(-1) rotate(90deg);
        bottom: 0;
        left: 0;
    }

    .bottom-right {
        transform: rotate(90deg);
        bottom: 0;
        right: 0;
    }
    
    .top-left {
        transform: scaleX(-1);
        top: 0;
        left: 0;
    }
}