@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/* 
0-600px phone 
600-900 tablet portrait 
900-1200 tablet landscape
[1200-1800] normal stylke
1800+ desktop 

$brackpoint argumetn choices:
- phone 
- tab-port 
- tab-land
- big-desktop

order: base + typography > general layout + grid > page layout > components
    usage:
    @include respond(phone) {
        font-size: 50%;
    }
1 em = 16px
600px / 16px = 37.5em
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) and (orientation:landscape) { @content; } // 600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content; } // 900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content; } // 1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content; } // 1800px
    }
}

/* version 1
    @mixin respond-phone {
        @media (max-width: 600px) { @content; }
    }
        
    // usage:
    @include respond-phone {
        font-size: 50%;
    }
*/
